# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Build
/dist
/build
/out
/.vite

# Environment
.env
.env.local
.env.development
.env.production

# IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

/entrada
/saida
/removidos

*.sql
*.xlsx
*.xls